/* Imbriquée dans une autre règle-@ conditionnelle */
@supports (display: flex) {
    @media screen and (min-width: 300px) {
        body {
            display: flex;
        }
    }
}

body {
    display: grid;
    background-image: url("/chez_melo/assets/background.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav#melo_nav {
    background-color: rgba(220, 20, 60, 0.815);
    display: flex;
    margin: auto;
    width: max-content;
    height: max-content;
    padding: 5px;
}

nav#melo_nav a {
    color: black;
    padding: 10px;
    text-decoration: none;
}

nav#melo_nav a:hover {
    color: pink;
    padding: 15px;
}

div.container {
    margin: auto;
    width: auto;
    height: auto;
}

header img {
    display: flex;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.658);
}

p#title {
    text-align: center;
    font-family: "Calligraffitti", cursive;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
}

iframe {
    display: flex;
    margin: auto;
    margin-top: 10%;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oswald:wght@500&family=Rammetto+One&display=swap');

.Menu {
    margin: auto;
}

/*Introduction*/
h3 {
    text-align: center;
    font-family: "Calligraffitti", cursive;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
    border-bottom: white solid  ;
    margin: auto;
    width:400px ;
}

h4 {
    text-align: center;
}

h2 {
    border-bottom: solid white;
    text-align: center;
}

div p {
    margin-left: 20px;
    text-align: center;
}

div.un {
    display: flex;
    width: 640px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.445);
    color: white;
}

div.deux {
    display:flex;
    width: 640px;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.445);
    color: white;
}

div.trois {
    display:flex;
    width: 640px;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.445);
    color: white;
}

.bas {
    display: flex;
}

span {
    display: flex;
    justify-content: center;
}

.footer {
    border: white solid;
    background-color: rgba(0, 0, 0, 0.445);
    color: white;
}

div image:hover {
    border-radius: 50%;
}

/*contact*/
li {
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: center;
    color: white;
}

.Contact {
    background-color: rgba(0, 0, 0, 0.521);
    display: flex;
    text-align: center;
    flex-direction: column;
    margin:auto;
    height: 150px;
    width:640px;
}